label { display: block; }
input.address { 
    font-family: 'Courier New', Courier, monospace;
    width: 22em;
    display: inline-block;
}
body > div > h1:first-child {
    color: #2e9ad0;
    background: url(/img/favicon-96.png) no-repeat;
    background-clip:padding-box;
    background-position: 0px 6px;
    background-size: 1em;
    padding-left: 1.1em;
    font-size: 2.2em;
}
